<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <!--<a class="navbar-brand" href="#">Start Bootstrap</a>-->
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">Home</a>
                </li>
                <!--<li>
                    <a [routerLink]="['Topics']">Topics</a>
                </li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <!--Set up a generic sidebar column for many components-->
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Topics</h4>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyled">

                            <topics-sidebar></topics-sidebar>

                        </ul>
                    </div>
                </div>
                <!-- /.row -->
            </div>

        </div>

        <!--Contains Page Content-->
        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>

<!-- /.container -->