<div *ngFor="let page of pages">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="text-center">
                <div class="row">
                    <div class="col-sm-9">
                        <a href="#" onclick="return false" (click)="gotoPage(page)">
                            <h3 class="pull-left">{{page.PageName}}</h3>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <h4 class="pull-right">
                            <small><em>Posted at: {{ page.DateCreated }}</em></small>
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body">
            {{ page.PageDescription }}
            <a href="#" onclick="return false" (click)="gotoPage(page)">Read more</a>
        </div>
    </div>
</div>