<!-- Blog Post -->

<!-- Title -->
<h2>{{page.PageName}}</h2>
<p>
    <!-- Date/Time -->
    <span class="glyphicon glyphicon-time"></span> Posted at: {{ page.DateCreated }}
</p>

<hr>

<!-- Post Content -->
<p class="lead">{{ page.PageDescription }}</p>
<div [innerHTML]="page.PageHtml"></div>
<hr>